{% extends "base.html" %} {% block content %}
{% block maintitle%} Brain Tumour | {% endblock maintitle %}
{% block body %}

<!--Section Of Info-->
<section class="jumbotron text-center">
    <div>
        <img src="/static/images/a1.webp" alt="logo" width="480" height="360">
        <h1 class="jumbotron-heading">All About Brain Tumours</h1>
        <p class="lead text-muted">
	<h3 class="pb-4 mb-4 font-italic border-bottom">
                What are the types of brain tumors?</h3>
<p>Doctors classify brain and central nervous system tumors based on where they form and the kind of cells they involve.

Brain tumors that are usually benign include:
<ul>
<li><strong>Acoustic neuroma:</strong> These tumors occur on the vestibular nerve (the nerve that leads from the inner ear to the brain). Acoustic neuromas are also called vestibular schwannomas.</li>
<li><strong>Gangliocytoma:</strong> These central nervous system tumors form in neurons (nerve cells).</li>
<li><strong>Meningioma:</strong> These are the most common type of primary brain tumors. Meningiomas develop slowly. They form in the meninges, the layers of tissue that protect the brain and spinal cord. In rare cases, a meningioma can be malignant.</li>
<li><strong>Pineocytoma:</strong> These slow-growing tumors form in the pineal gland, which is located deep in the brain and secretes the hormone melatonin.</li>
<li><strong>Pituitary adenoma:</strong> These tumors form in the pituitary gland, which is located at the base of the brain. The pituitary gland makes and controls hormones in the body. Pituitary adenomas are usually very small.</li>
<li><strong>Chordoma: </strong>These slow-growing tumors typically begin at the base of the skull and the bottom part of the spine. They are mostly benign (not cancerous).</li></ul>
Cancerous brain tumors include:
<ul>
<li><strong>Glioma:</strong> These tumors develop in glial cells, which surround and assist nerve cells. Two-thirds of cancerous primary brain tumors are gliomas.</li>
<li><strong>Astrocytoma:</strong> Astrocytomas form in glial cells called astrocytes.</li>
<li><strong>Glioblastoma: </strong>Aggressive astrocytomas that grow quickly are glioblastomas.</li>
<li><strong>Oligodendroglioma:</strong> These uncommon tumors begin in cells that create myelin (a layer of insulation around nerves in the brain).</li>
<li><strong>Medulloblastoma: </strong>Medulloblastomas are fast-growing tumors that form at the base of the skull. These are the most common cancerous brain tumors in children.</li></ul>
                </p>

        </p>
 <p>Brain tumor treatment depends on the tumor’s location, size and type. Doctors often use a combination of therapies to treat a tumor.

Your treatment options might include:
<ul>
<li><strong>Surgery:</strong> When possible, surgeons remove the tumor. They work very carefully, sometimes doing surgery when you are awake, to minimize damage to functional areas of the brain.</li>
<li><strong>Radiation therapy:</strong> High doses of X-rays destroy brain tumor cells or shrink the tumor. Some people have radiation before surgery to shrink a brain tumor so that the surgeon can remove less tissue.</li>
<li><strong>Chemotherapy:</strong> Anti-cancer drugs kill cancer cells in the brain and throughout the body. You might receive chemotherapy through an injection into a vein or take as a pill. In some cases, doctors use chemotherapy before surgery to make the tumor smaller. Your doctor may recommend chemotherapy after surgery to kill any cancer cells left behind or to prevent remaining tumor cells from growing.</li>
<li><strong>Immunotherapy: </strong>Immunotherapy, also called biological therapy, is a type of treatment that uses your body's own immune system to fight cancer. The therapy mainly consists of stimulating the immune system to help it do its job more effectively.</li>
<li><strong>Targeted therapy:</strong> Drugs target specific features in cancer cells without harming healthy cells. Your doctor may recommend targeted therapy if you have trouble tolerating the side effects of chemotherapy, such as fatigue and nausea.</li>
<li><strong>Laser thermal ablation:</strong> This treatment uses lasers to heat and destroy tumor cells.</li>
<li><strong>Watchful waiting/active surveillance:</strong> A doctor closely monitors the tumor for signs of growth with regular testing, but does not take any other action.</li>
</ul>

                </p>

    </div>
</section>
<!--Section of Info-->






{% endblock body %}
{% endblock %}