{% extends "base.html" %} {% block content %}
{% block maintitle%} Causes | {% endblock maintitle %}
{% block body %}


<!--Section Of Info-->
<section class="jumbotron text-center">
    <div>
        <img src="/static/images/mosquito.png" alt="logo" width="120">
        <h1 class="jumbotron-heading" >Causes Of Malaria</h1>
        <p class="lead text-muted">Malaria is caused by the<strong> Plasmodium Parasite</strong>. The parasite can be spread to humans through the bites of infected mosquitoes.
        </p>
    </div>
</section>
<!--Section of Info-->

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 blog-main">
            <h3 class="pb-4 mb-4 font-italic border-bottom">
                Different types of  Plasmodium Parasite :</h3>
            <div class="blog-post">
                <h4 class="blog-post-title">Plasmodium Falciparum</h4>
                <p>Mainly found in Africa, it's the most common type of malaria parasite and is responsible for most malaria
                    deaths worldwide.</p>
                <p>Plasmodium falciparum is a protozoan parasite that causes an infectious disease known as malaria. P.
                    falciparum is the most severe strain of the malaria species correlated with almost every malarial death. The
                    other 3 species that cause malaria include: P. vivax, P. ovale, and P. malariae. Humans become infected by a
                    female Anopheles mosquito which, transfers a parasitic vector through its saliva into the blood stream. The
                    parasite then infects the liver and undergoes asexual reproduction followed by insertion into red blood
                    cells where an additional round of replication takes place P.
                </p>
        
            </div><hr>
        </div>
        
        <!-- Links For github facebook  -->
        <aside class="col-md-4 blog-sidebar">
            <div class="p-4 mb-3 bg-light rounded">
                <h4> About Malaria</h4>
                <p class="mb-0">Malaria is a mosquito-borne infectious disease that affects humans and other animals. Malaria causes symptoms that
                typically include fever, tiredness, vomiting, and headaches. In severe cases it can cause yellow skin, seizures, coma,
                or death. Symptoms usually begin ten to fifteen days after being bitten by an infected mosquito.</p>
            </div>
        </aside>
        <!-- End Links For github facebook  -->
        <div class="col-md-8 blog-main">
            <div class="blog-post">
                <h4 class="blog-post-title">Plasmodium Vivax</h4>
                <p>Mainly found in Asia and South America, this parasite causes milder symptoms than Plasmodium falciparum, but it can stay
                in the liver for up to 3 years, which can result in relapses.</p>
                <p>Plasmodium vivax is a protozoal parasite and a human pathogen. This parasite is the most frequent and widely distributed
                cause of recurring malaria.Although it is less virulent than Plasmodium falciparum, the deadliest of the five human
                malaria parasites, P. vivax malaria infections can lead to severe disease and death, often due to splenomegaly (a
                pathologically enlarged spleen) P. vivax is carried by the female Anopheles mosquito; the males do not bite.
                </p>
            </div><hr>
        </div>
           <aside class="col-md-4 blog-sidebar">
                <div class="p-4">
                 <h4 class="font-italic">Contact Us</h4>
                    <ol class="list-unstyled">
                        <li><a href="#">GitHub</a></li>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">LinkedIn</a></li>

                    </ol>
                </div>
            </aside>
        <div class="col-md-8 blog-main">
                <div class="blog-post">
                 <h4 class="blog-post-title">Plasmodium Ovale</h4>
                    <p>Fairly uncommon and usually found in West Africa, it can remain in your liver for several years without producing
                    symptoms.</p>
                    <p>Plasmodium ovale is a species of parasitic protozoa that causes tertian malaria in humans. It is one of several species
                    of Plasmodium parasites that infect humans including Plasmodium falciparum and Plasmodium vivax which are responsible
                    for most malarial infection. It is rare compared to these two parasites, and substantially less dangerous than P.
                    falciparum.
                    </p>
                </div><hr>
        </div>
        <div class="col-md-8 blog-main">
            <div class="blog-post">
                <h4 class="blog-post-title">Plasmodium Malariae</h4>
                    <p>This is quite rare and usually only found in Africa.</p>
                    <p>Plasmodium malariae is a parasitic protozoa that causes malaria in humans. It is one of several species of Plasmodium
                    parasites that infect humans including Plasmodium falciparum and Plasmodium vivax which are responsible for most
                    malarial infection. While found worldwide, it is a so-called "benign malaria" and is not nearly as dangerous as that
                    produced by P. falciparum or P. vivax. It causes fevers that recur at approximately three-day intervals, longer than the
                    two-day intervals of the other malarial parasites, hence its alternative names quartan fever and quartan malaria.
                    </p>
            </div><hr>
        </div>
            <div class="col-md-8 blog-main">
                <div class="blog-post">
                    <h4 class="blog-post-title">Plasmodium Knowlesi</h4>
                    <p>This is very rare and found in parts of southeast Asia.</p>
                    <p>Plasmodium knowleri is a parasite that causes malaria in humans and other primates. It is found throughout Southeast
                    Asia, and is the most common cause of human malaria in Malaysia. Like other Plasmodium species, P. knowlesi has a life
                    cycle that requires infection of both a mosquito and a warm-blooded host. While the natural warm-blooded hosts of P.
                    knowlesi are likely various Old World monkeys, humans can be infected by P. knowleri if they are fed upon by infected
                    mosquitoes. P. knowlesi is a eukaryote in the phylum Apicomplexa, genus Plasmodium, and subgenus Plasmodium. It is most
                    closely related to the human parasite Plasmodium vivax as well as other Plasmodium species that infect non-human
                    primates. Humans infected with P. knowleri can develop uncomplicated or severe malaria similar to that caused by
                    Plasmodium falciparum. Diagnosis of P. knowleri infection is challenging as P. knowleri very closely resembles other
                    species that infect humans.
                    </p>
                </div>
            </div>
    </div>
</div>






{% endblock body %}
{% endblock %}