{% extends "base.html" %} {% block content %}
{% block maintitle%} Malaria | {% endblock maintitle %}
{% block body %}

<!--Section Of Info-->
<section class="jumbotron text-center">
    <div>
        <img src="/static/images/mosquito.png" alt="logo" width="120">
        <h1 class="jumbotron-heading">About Malaria Disease</h1>
        <p class="lead text-muted">Malaria is a mosquito-borne infectious disease that affects humans and other animals. Malaria causes symptoms that
        typically include fever, tiredness, vomiting, and headaches. <br> severe cases it can cause yellow skin, seizures, coma,
        or death. Symptoms usually begin ten to fifteen days after being bitten by an infected mosquito.
        </p>
    </div>
</section>
<!--Section of Info-->






{% endblock body %}
{% endblock %}